<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 		th:fragment="layout (title,  body)"> -->
<!-- ↑Thymeleaf layout dialectを使用するための追加 -->
<head>
<meta lang="ja">
<!-- タイトルを切り替えるため -->
<title>content</title>
<!-- 横幅をデバイスに合わせる、ズームは１倍 -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/header.css}" media="screen"/>
<link rel="stylesheet" th:href="@{/css/main.css}" media="screen"/>
<link rel="stylesheet" th:href="@{/css/navigation.css}" media="screen"/>
<link rel="stylesheet" th:href="@{/css/footer.css}" media="screen"/>
<link rel="stylesheet" th:href="@{/css/common.css}" media="screen" />
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/navigation.js}"></script>
</head>
<body>

	<form name="mainForm" class="mainForm">
		<!-- ヘッダーパーツ -->
		<div layout:replace="~{layout/header::frg-header}"></div>
		<!-- ナビゲーションパーツ -->
		<div layout:replace="~{layout/navigation::frg-nav}"></div>
		<!-- ナビゲーションパーツ（ハンバーガーメニュー部品） -->
		<div layout:replace="~{layout/navigation::frg-nav-hbgr}"></div>
		<!-- 各画面のメインパーツ -->
		<div layout:fragment="content"></div>
		<!-- フッターパーツ -->
		<div layout:replace="~{layout/footer::frg-footer}"></div>
	</form>
</body>
</html>