<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
</head>
<body>
	<nav id="g-navigation" layout:fragment="frg-nav">
		<div id="nav-container" class="nav-container">
			<ul>
				<li class="nav-item home is_showing">HOME</li>
				<li class="nav-item album">アルバム</li>
				<li class="nav-item spot">見どころ！</li>
				<li class="nav-item traffic">交通</li>
				<li class="nav-item todo">TODO</li>
				<li class="nav-item schedule">スケジュール</li>
			</ul>
		</div>
	</nav>
</body>
</html>