<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeHandlers>
		<typeHandler handler="yabomu.trip.infrastructure.typehandler.ReminderTypeTypeHandler"/>
		<typeHandler handler="yabomu.trip.infrastructure.typehandler.ReminderTimeTypeHandler"/>
		<typeHandler handler="yabomu.trip.infrastructure.typehandler.ReminderRepeatTypeHandler"/>
		<!-- 	<package name="yabomu.trip.infrastructure.typehandler" /> -->
	</typeHandlers>

	<mappers>
		<mapper resource="classpath*:/yabomu/trip/infrastructure/mapper/*.xml"/>
	</mappers>
</configuration>

