@charset "UTF-8";

table.calendar {
	border-collapse: collapse;
}

table.calendar thead tr {
	border-bottom: 1px solid lightgray;
}

table.calendar th {
	text-align: center;
}

table.calendar td {
	text-align: center;
}

table.calendar td.last-month, td.next-month {
	color: lightgray;
}

div._calDiv {
	display: flex;
	flex-direction: row;
}

div._calDiv th:nth-of-type(1),
div._calDiv td:nth-of-type(1):not(.last-month):not(.next-month) {
	color: red;
}
div._calDiv th:nth-of-type(7),
div._calDiv td:nth-of-type(7):not(.last-month):not(.next-month) {
	color: blue;
}

