@charset "UTF-8";
* {
	margin: 0;
}

:root {
	--color-base			: white;
	--color-main			: rgb(255, 186, 141);
	--color-main-dark		: rgb(255, 170, 120);
	--color-main-light		: rgb(255, 220, 200);
	--color-accent			: rgb(255, 200, 200);
	--color-accent-dark		: rgb(255, 180, 180);
	--color-accent-light	: rgb(255, 220, 220);
	--color-black			: rgb(50, 50, 50);
	--color-gray			: rgb(100, 100, 100);
	--color-gray-light		: rgb(230, 230, 230);
}

html {
	font-family: "Hiragino Kaku Gothic Pro",
				 "ヒラギノ角ゴ Pro",
				 "Yu Gothic Medium",
				 "游ゴシック Medium",
				 YuGothic,
				 "游ゴシック体",
				 "メイリオ",
				 sans-serif;
	overflow: hidden;
	background-color: white;
	color: var(--color-black);
	font-size: 16px;
}
.hidden{
	display: none;
}

.message-area {
	position: absolute;
	top: 0;
	right: 0;
}
.message-area .delete-btn-message {
	border: 0;
	border-radius: 4px;
	right: 0;
	cursor: pointer;
	vertical-align: top;
}
.message-list {
	list-style: none;
}
.message {
	border-radius: 4px;
	padding: 0.3em;
	background-color: var(--color-gray-light);
	opacity: 0.8;
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.message .content {
	display: inline-block;
	min-width: 100px;
	width: 15vw;
}
.message.hide {
	display: none;
	opacity: 0;
}