@charset "UTF-8";

header {
	padding: 0.3em;
}

header h2 {
	font-family: "Economica", sans-serif;
	font-size: 2.0rem;
/* 	border-bottom: 1px solid silver; */
	text-align: center;
	margin: 0;
	background-color: var(--color-main);
	color: var(--color-base);
}

