@charset "UTF-8";
/**************/
/* メインレイアウト
/**************/
/** PC用 */
@media screen and (min-width:601px) {
	.mainForm {
		display: grid;
		grid-template-areas:
			"a a d"
			"b c d";
		grid-gap: 1.7rem;
	}
}
@media screen and (max-width:601px) {
	/** SP用 */
	.mainForm {
		display: flex;
		flex-direction: column;
	}
}
section.album {
	grid-area: a;
	max-width: 600px;
}
section.calendar {
	grid-area: b;
}
section.todolist {
	grid-area: c;
}
section.schedule {
	grid-area: d;
}

/**************/
/* カレンダー
/**************/
.calendar-container {
	position: relative;
	width: 18em;
	overflow: hidden;
}

.calendar-btn {
	position: absolute;
	top: 2px;
	right: 2px;
}

.calendar-btn button {
	border: 0;
	background-color: white;
	cursor: pointer;
	font-size: 1.0em;
	box-shadow: 0 0 1px 1px silver;
	display: inline-block;
}
.calendar-btn button:hover {
	box-shadow: 0 0 2px 2px silver;
}
.calendar-btn button:active {
	box-shadow: 0 0 1px 1px silver;
}
#calendar-area caption {
	font-size: 1.5em;
}
#calendar-area table td:hover {
	background-color: rgb(220, 255, 255);
}
#calendar-area table td div {
	font-size: 0.8em;
	width: 3.0em;
	height: 3.0em;
	vertical-align: top;
	text-align: left;
}

/* カレンダー内のz-index */
section.calendar {
	z-index: 300;
}
#calendar-area table {
	z-index: 301;
}
.calendar-btn {
	z-index: 302;
}

/**************/
/* アルバム
/**************/
section.album {
	text-align: center;
}

#area-recently_album_slideshow {
	position: relative;
	display: inline-block;
	padding: 0.7em;
}
#area-recently_album_slideshow
.left_arrow,
.right_arrow {
	opacity: 0;
	width: 25px;
	cursor: pointer;
	position: absolute;
	top: 45%;
}
#area-recently_album_slideshow
.left_arrow {
	left: 5%;
}
#area-recently_album_slideshow
.right_arrow {
	right: 5%;
}
#area-recently_album_slideshow
.left_arrow:hover,
.right_arrow:hover {
	opacity: 0.5;
	transition: all 0.3s ease 0s;
}
#area-recently_album_slideshow
.pickup_album{
	max-width: 300px;
	width: 90%;
	cursor: pointer;
	box-shadow: 0 0 1px 1px lightgray;
}