@charset "UTF-8";
/**************/
/* メインレイアウト
/**************/
/** PC用 */
@media screen and (min-width:601px) {
	.mainForm {
		display: grid;
		grid-template-areas:
			"a a d"
			"b c d";
		grid-gap: 1.7rem;
	}
}
@media screen and (max-width:601px) {
	/** SP用 */
	.mainForm {
		display: flex;
		flex-direction: column;
	}
}
section.album {
	grid-area: a;
	max-width: 300px;
	min-width: 90%;
	margin: 0 auto;
}
section.calendar {
	grid-area: b;
	max-width: 18em;
	min-width: 18em;
	margin: 0 auto;
}
section.todolist {
	grid-area: c;
	max-width: 18em;
	min-width: 90%;
	margin: 0 auto;
}
section.schedule {
	grid-area: d;
	max-width: 20em;
	min-width: 90%;
	margin: 0 auto;
}

/**************/
/* カレンダー
/**************/
.calendar-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.calendar-btn {
	position: absolute;
	top: 2px;
	right: 2px;
}

.calendar-btn button {
	border: 0;
	background-color: white;
	cursor: pointer;
	font-size: 1.0em;
	box-shadow: 0 0 1px 1px silver;
	display: inline-block;
}
.calendar-btn button:hover {
	box-shadow: 0 0 2px 2px silver;
}
.calendar-btn button:active {
	box-shadow: 0 0 1px 1px silver;
}
#calendar-area caption {
	font-size: 1.5em;
}
#calendar-area table td div:hover {
/* 	background-color: rgb(220, 255, 255); */
/* 	box-shadow: 0 0 5px 1px silver; */
}
#calendar-area table td div {
	font-size: 0.8em;
	width: 3.0em;
	height: 3.0em;
	vertical-align: top;
	text-align: left;
}

/* カレンダー内のz-index */
section.calendar {
	z-index: 300;
}
#calendar-area table {
	z-index: 301;
}
.calendar-btn {
	z-index: 302;
}

/**************/
/* アルバム
/**************/
section.album {
	text-align: center;
}

#album_slideshow {
	position: relative;
	display: inline-block;
	padding: 0.7em;
}
#album_slideshow
.left_arrow,
.right_arrow {
	opacity: 0;
	width: 25px;
	cursor: pointer;
	position: absolute;
	top: 45%;
}
#album_slideshow
.left_arrow {
	left: 5%;
}
#album_slideshow
.right_arrow {
	right: 5%;
}
#album_slideshow
.left_arrow:hover,
.right_arrow:hover {
	opacity: 0.5;
	transition: all 0.3s ease 0s;
}
#album_slideshow
.pickup_album{
	cursor: pointer;
	box-shadow: 0 0 1px 1px lightgray;
}

/**************/
/* TODOリスト
/**************/
#todolist-container {
	text-align: center;
}
#todolist-container ul {
	padding: 0;
}
#todolist-container li {
	list-style: none;
	text-align: left;
	padding: 0.7em;
	margin: 8px;
	box-shadow: 0 0 1px 1px silver;
	border-radius: 5px;
	cursor: pointer;
}
#todolist-container li:hover {
	box-shadow: 0 0 2px 2px silver;
}
#btn-edit_todolist {
	border: 0;
	border-bottom: 2px solid silver;
	background-color: white;
	padding: 0;
	vertical-align: bottom;
	cursor: pointer;
}

/**************/
/* スケジュール
/**************/
#schedule-container {
	box-shadow: 0 0 1px 1px silver;
	padding: 0.5em;
	border-radius: 5px;
	width: 100%;
	margin-top: 0.5em;
}

#schedule-container span.start-time,
#schedule-container span.end-time {
	display: inline-block;
	width: 3em;
}

#schedule-container span.start-time {
	display: inline-block;
	width: 3em;
}

#schedule-container ul {
	padding: 0;
}

#schedule-container li {
	list-style: none;
	text-align: left;
	padding: 0.7em;
	margin: 8px;
	box-shadow: 0 0 2px 1px silver;
	border-radius: 5px;
	cursor: pointer;
}
#schedule-container li:hover {
	box-shadow: 0 0 2px 2px silver;
}

#btn-edit_schedule {
	border: 0;
	border-bottom: 2px solid silver;
	background-color: white;
	padding: 0;
	vertical-align: bottom;
	cursor: pointer;
}