@charset "UTF-8";

/**************/
/* 共通設定
/**************/
#nav-container li {
	list-style: none;
	padding: 0.3em;
	margin: 0.2em;
}

#nav-container ul {
	display: flex;
}
#nav-container li:hover {
	text-shadow: 0.5px 0.5px silver;
}


/**************/
/* PC版設定
/**************/
#nav-container ul {
	flex-direction: row;
}
#nav-container ul {
	box-shadow: 0 1px 1px 1px silver;
}
#nav-container li.is_showing {
	border-bottom: 2px solid hsl(20, 40%, 40%);
}


/**************/
/* スマホ版設定
/**************/