@charset "UTF-8";

/**************/
/* 共通設定
/**************/
#nav-container li {
	list-style: none;
	padding: 0.3em;
	margin: 0.2em 0.2em 0;
	cursor: pointer;
}

#nav-container ul {
	display: flex;
}
#nav-container li:hover {
	text-shadow: 0.5px 0.5px silver;
}
#nav-container li.active {
	border-bottom: 2px solid var(--color-accent);
}

/**************/
/* PC版設定
/**************/
@media screen and (min-width:601px) {
	#nav-container ul {
		flex-direction: row;
	}
	#nav-container ul {
		border-bottom: 1px solid silver;
	}
	#nav-container .hamburger {
		display: none;
	}
}


/**************/
/* スマホ版設定
/**************/
@media screen and (max-width:600px) {
	#nav-container ul {
		flex-direction: column;
	}

	/**************/
	/* CLOSED!
	/**************/
	/* メニュー押下時の表示画面（全体） */
	#g-navigation {
		position: fixed;
		transform: translateX(-500px);
		top: 0;
		width: 300px; /* スマホに収まるくらい */
		height: 100vh;
		padding-top: 40px;
		background-color: rgba(250,250,250, 0.9);
		transition: all .4s;
		z-index: 900;
		overflow-y: auto; /* メニューが多くなったらスクロールできるように */
	}
	/* クリック用のハンバーガー図 */
	.hamburger {
		position: fixed;
		display: block;
		left: 5px;
		top: 5px;
		width: 36px; /* クリックしやすいようにちゃんと幅を指定する */
		height: 34px; /* クリックしやすいようにちゃんと高さを指定する */
		cursor: pointer;
		z-index: 909;
	}
	.hamburger-line {
		position: absolute;
		left: 10px;
		width: 18px;
		height: 2px;
		background-color: var(--color-black);
		transition: all .6s;
	}
	.hamburger-line-1 {
		top: 10px;
	}
	.hamburger-line-2 {
		top: 16px;
	}
	.hamburger-line-3 {
		top: 22px;
	}
	#nav-container ul {
		width: 70%;
	}

	/**************/
	/* OPENED!
	/**************/
	/* メニュー押下時の表示画面（全体） */
	#g-navigation.open {
		transform: translateX(0px);
	}
	.hamburger.open .hamburger-line-1 {
		top: 15px;
		transform: rotate(225deg);
	}
	.hamburger.open .hamburger-line-2 {
		width: 0;
		left: 50%;
	}
	.hamburger.open .hamburger-line-3 {
		top: 15px;
		transform: rotate(315deg);
	}
}