@charset "UTF-8";

/* ************************/
/* TODOリスト */
/* ************************/
.todolist-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5em;
	margin-top: 0.5em;
}
.todo-controle {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition-property: all ;
	transition-duration: 0.3s;
	transition-delay: 0;
}
img.save-todo,
img.start-datetime,
img.reminder-notice-time,
img.reminder-repeat {
	width: 1.0em;
	height: 1.0em;
	vertical-align: middle;
}
.todo-box:hover .todo-controle {
	opacity: 0.8;
}

.todo-box{
	position: relative;
	min-width: 220px;
	width: 220px;
	max-width: 220px;
	height: 400px;
	box-shadow: 0 0 1px 1px silver;
	overflow: hidden;
	padding: 0.2em;
	cursor: pointer;
	list-style: none;
}
.todo-box:hover {
	box-shadow: 0 0 3px 2px silver;
}

.todo-box>*{
	margin-bottom: 0.2em;
	border-radius: 5px;
	background-color: rgb(240,240,240);
}
.todo-box .text {
	display: none;
}
.todo-box .title {
	padding: 0.5em;
}
.todo-box p.content {
	padding: 0.3em;
	height: 10%;
	overflow: hidden;
}
.todo-box .delete-btn-checklist {
	display: none;
}

.todo-box>.checklist{
	padding: 0.3em;
	height: 50%;
	overflow: hidden;
}

/* ************************/
/* 新規TODOリストの作成エリア */
/* ************************/
.new-todo {
	padding: 0.5em 0;
}
.edit-todo-area {
	display: none;
}
.edit-todo-area label {
	display: inline-block;
}
.edit-todo-area .label {
	display: none;
}
/* タイトル欄のフォントは大きめ */
.edit-todo-area .title {
	font-size: 1.2em;
	width: 90%;
}
.edit-todo-area .edit-item {
	padding: 0.5em;
}
.edit-todo-area p.content {
	max-height: 70%;
	height: 100px;
}
.edit-todo-area .edit-area {
	height: 90%;
	overflow-y: auto;
}
.edit-todo-area .bottom-area {
	height: 10%;
}
.edit-todo-area .checklist {
	list-style: none;
	padding: 0;
}
.edit-todo-area .checklist li {
	padding: 0.3em;
}
.edit-todo-area .delete-btn-checklist {
	background-color: darkgray;
	opacity: 0.2;
	width: 1.1em;
	height: 1.1em;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	border: 0;
	box-shadow: 0 0 1px 1px gray;
	border-radius: 2px;
	cursor: pointer;
}
.edit-todo-area .delete-btn-checklist:hover {
	background-color: rgb(250, 50, 50);
	opacity: 0.8;
	color: white;
}
textarea.content {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100px;
}

/* 各ボタンの形とか */
.btn-add-checklist {
	border-radius: 8px;
	background-color: var(--color-gray-light);
	border: 0;
	box-shadow: 0 0 1px 1px silver;
	cursor: pointer;
	padding: 0.3em;
}

.filter {
	display: none;
}
.edit-todo-area.active {
	position: absolute;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	background-color: white;
	box-shadow: 0 0 2px 1px silver;
	border-radius: 5px;
	width: 40vw;
	min-width: 250px;
	height: 80vh;
	min-height: 400px;
	padding: 0.5em 2.0em;
	list-style: none;
	z-index: 401;
}

.filter.active {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow-y: scroll;
	opacity: 0.5;
	background-color: black;
}


