@charset "UTF-8";

section.todolist {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

section.todolist div{
	width: 120px;
}

p.title {
	padding: 0.7em;
}

.checklist{
	list-style: none;
	padding: 0.3em;
}