@charset "UTF-8";

section.todolist {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5em;
	margin-top: 0.5em;
}

section.todolist>.todo-box{
	min-width: 220px;
	height: 400px;
	box-shadow: 0 0 1px 1px silver;
	overflow: hidden;
	padding: 0.2em;
}

.todo-box>*{
	margin-bottom: 0.2em;
	border-radius: 5px;
	background-color: rgb(240,240,240);
}

.todo-box .title {
	padding: 0.5em;
}

.todo-box .content {
	padding: 0.3em;
	height: 10%;
	overflow: hidden;
}

.todo-box .checklist{
	list-style: none;
	padding: 0.3em;
	height: 50%;
	overflow: hidden;
}

.new_todo {
	padding: 0.5em 0;
}

.edit_newtodo {
	display: none;
}
.filter {
	display: none;
}
.edit_newtodo.active {
	top: 1.7em;
	margin: 0 auto;
	display: inline-block;
	background-color: white;
	box-shadow: 0 0 4px 1px silver;
	border-radius: 5px;
	width: 300px;
}

.filter.active {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow-y: scroll;
	opacity: 0.5;
	background-color: black;
}
