<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout.html}">

<head>
<title>HOME</title>
<link rel="stylesheet" th:href="@{/css/home.css}" media="screen" />
<script th:src="@{/js/home.js}"></script>
</head>
<body layout:fragment="content" th:remove="tag">
	<main>
		<form name="mainForm">
			<section class="calendar">
				<article>
					カレンダー
					<div id="calendar_area" class="calendar_area">
						<div id="calendar_title" class="title">
							2021/6/5
						</div>
						<button type="button" id="btn-prev_month" class="prev_month"> < </button>
						<button type="button" id="btn-next_month" class="next_month"> > </button>
						<div id="calendar" class="">
						</div>
					</div>
				</article>
				<button type="button" id="btn-add_plan" class="add_plan">＋プランを追加</button>
			</section>

			<section class="show_album">
				<article>
					直近のアルバム
					<div>

					</div>
				</article>
				<button type="button" id="btn-add_album" class="add_album">＋アルバムを追加</button>
			</section>

			<section class="todolist">
				<article>
					TODOリスト
					<div>
					</div>
				</article>
				<button type="button" id="btn-edit_todolist" class="edit_todolist">TODOリストを編集</button>
			</section>

			<section class="schedule">
				<article>
					スケジュール
					<div>
					</div>
				</article>
			</section>

		</form>
	</main>
</body>
</html>