<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout.html}">

<head>
<title>HOME</title>
<link rel="stylesheet" th:href="@{/css/calendar.css}" media="screen" />
<link rel="stylesheet" th:href="@{/css/home.css}" media="screen" />
<script th:src="@{/js/calendar.js}"></script>
<script th:src="@{/js/home.js}"></script>
</head>
<body layout:fragment="content" th:remove="tag">
	<main>
		<section class="album">
			<article>
				<div id="album_slideshow">
					<img th:src="@{/img/sample_album.svg}" id="img-pickup_album" class="pickup_album" />
					<img th:src="@{/img/round_left_arrow.svg}" id="btn-left_arrow" class="left_arrow" />
					<img th:src="@{/img/round_right_arrow.svg}" id="btn-right_arrow" class="right_arrow" />
				</div>
			</article>
		</section>

		<section class="calendar">
			<article>
				<div class="calendar-container">
					<div class="calendar-btn">
						<button type="button" id="btn-prev_month" class="prev_month"> < </button>
						<button type="button" id="btn-next_month" class="next_month"> > </button>
					</div>
					<div id="calendar-area" class="calendar-box">
					</div>
				</div>
			</article>
		</section>

		<section class="todolist">
			<article>
				<button type="button"
						id="btn-edit_todolist"
						class="edit_todolist"
						title="TODOリストを編集する">
						TODOリスト
				</button>
				<div id="todolist-container" class="todolist-container">
					<ul>
						<li>
							<label>TODO1</label>
						</li>
						<li>
							<label>TODO222</label>
						</li>
						<li>
							<label>TODO33333</label>
						</li>
						<li>
							<label>TODO4444444</label>
						</li>
					</ul>
				</div>
			</article>
		</section>

		<section class="schedule">
			<article>
				<button type="button"
						id="btn-edit_schedule"
						class="edit_schedule"
						title="スケジュールを編集する">
						スケジュール
				</button>
				<div id="schedule-container" class="schedule-container">
					<ul>
						<li>
							<span class="start_time">9:00</span>
							～
							<span class="end_time">12:00</span>
							<span class="task">移動</span>
						</li>
						<li>
							<span class="start_time">12:00</span>
							～
							<span class="end_time">13:00</span>
							<span class="task">食事</span>
						</li>
						<li>
							<span class="start_time">13:00</span>
							～
							<span class="end_time">14:00</span>
							<span class="task">◯◯</span>
						</li>
						<li>
							<span class="start_time">14:00</span>
							～
							<span class="end_time">15:00</span>
							<span class="task">◯◯</span>
						</li>
						<li>
							<span class="start_time">15:00</span>
							～
							<span class="end_time">16:00</span>
							<span class="task">◯◯</span>
						</li>
					</ul>
				</div>
			</article>
		</section>

	</main>
</body>
</html>