<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout.html}">
<head>
<title>TODOリスト</title>
<link rel="stylesheet" th:href="@{/css/todolist.css}" />
<script th:src="@{/js/todolist.js}"></script>
</head>
<body layout:fragment="content" th:remove="tag">
	<main>
<!-- 	TODOリスト -->
		<section class="todolist-container">
			<th:block th:each="vForm,it : ${formlist}">
				<div class="todo-box" th:data-idx="${it.index}">
					<div class="todo-controle">
						<img th:src="@{/img/save.svg}" id="img-save-todo" class="save-todo" title="保存する" />
					</div>
					<input type="hidden" class="event-id" th:value="${vForm.eventId}" />
					<input type="hidden" class="todo-id" th:value="${vForm.todoId}" />
<!-- 					タイトル -->
					<p class="title">
						<label th:data-idx="${it.index}" class="title label">
							<th:block th:text="${vForm.title}"></th:block>
						</label>
						<label>
							<input type="text" class="title text"
									th:data-idx="${it.index}" th:value="${vForm.title}" />
						</label>
					</p>
<!-- 					内容 -->
					<p class="content">
						<label th:data-idx="${it.index}" class="content label">
							<th:block th:text="${vForm.content}"></th:block>
						</label>
						<input type="text" class="content text"
								th:data-idx="${it.index}" th:value="${vForm.content}" />
					</p>
<!-- 					チェックリスト -->
					<ul class="checklist">
						<li th:each="vCheckList,clIt : ${vForm.checkList}">
							<input type="hidden" class="checklist seq" th:value="${vCheckList.seq}" />
							<label>
								<input type="checkbox" class="checklist checkbox status" th:checked="${vCheckList.completed}" />
							</label>
							<label>
								<span class="label"><th:block th:text="${vCheckList.content}"></th:block></span>
								<input type="text" class="checklist text" th:data-idx="${it.index}" th:value="${vCheckList.content}" />
								<button type="button" class="delete-btn-checklist">×</button>
							</label>
						</li>
					</ul>
<!-- 					リマインダー設定 -->
					<p class="reminder" th:data-idx="${it.index}">
						<div>
							<img th:src="@{/img/timer.svg}" id="img-reminder-notice-time" class="reminder-notice-time" title="タイマー設定" />
							<select class="reminder-notice-time select"
									th:value="${vForm.reminderNoticeTime.code}">
								<option th:each="value : ${reminderNoticeTimeList}"
										th:value="${value.code}"
										th:text="${value.description}"
										th:selected="${value.code == vForm.reminderNoticeTime.code}">
								</option>
							</select>
						</div>
						<div>
							<img th:src="@{/img/repeat.svg}" id="img-reminder-repeat" class="reminder-repeat" title="リピート設定" />
							<select class="reminder-repeat select"
									th:value="${vForm.reminderRepeat.code}">
								<option th:each="value : ${reminderRepeatList}"
										th:value="${value.code}"
										th:text="${value.description}"
										th:selected="${value.code == vForm.reminderRepeat.code}">
								</option>
							</select>
						</div>
					</p>
<!-- 					開始日時 -->
					<p class="todo-start-datetime">
						<img th:src="@{/img/calendar.svg}" id="img-start-datetime" class="start-datetime" title="予定日時" />
						<label th:data-idx="${it.index}" class="todo-start-datetime label">
							<th:block th:text="${vForm.todoStartDateTime}"></th:block>
						</label>
						<input type="datetime-local" class="todo-start-datetime text"
								th:data-idx="${it.index}" th:value="${vForm.todoStartDateTime}" />
					</p>
					<p class="todo-create-info">
						<input type="hidden" class="todo-create-user-id hid"
								th:data-idx="${it.index}" th:value="${vForm.createUserId}" />
						<input type="hidden" class="todo-create-user-name hid"
								th:data-idx="${it.index}" th:value="${vForm.createUserName}" />
						<input type="hidden" class="todo-create-datetime hid"
								th:data-idx="${it.index}" th:value="${vForm.createDateTime}" />
					</p>
					<p class="todo-update-info">
						<input type="hidden" class="todo-update-user-id hid"
								th:data-idx="${it.index}" th:value="${vForm.updateUserId}" />
						<input type="hidden" class="todo-update-user-name hid"
								th:data-idx="${it.index}" th:value="${vForm.updateUserName}" />
						<input type="hidden" class="todo-update-datetime hid"
								th:data-idx="${it.index}" th:value="${vForm.updateDateTime}" />
					</p>
				</div>
			</th:block>
		</section>

		<!-- 新規TODO作成 -->
		<section class="new-todo">
			<button type="button" id="btn-open-new-todo" class="new-todolist">＋新しいTODOリスト</button>
		</section>
		<div id="edit-todo-area" class="edit-todo-area">
			<div class="edit-area">
				<p>
					<input type="hidden" id="hid-edit-event-id" class="event-id" />
					<input type="hidden" id="hid-edit-todo-id" class="todo-id" />
				</p>
				<p class="title edit-item">
					<input type="text" id="txt-edit-todo-title" class="title" placeholder="タイトル" />
				</p>
				<p class="content edit-item">
					<textarea id="txta-edit-todo-content" class="content" placeholder="内容" ></textarea>
				</p>
				<div id="checklist-area" class="checklist-area edit-item">
					<ul class="checklist">
					</ul>
					<button type="button" id="btn-add-checklist" class="btn-add-checklist">＋追加</button>
				</div>
				<p class="reminder">
					<div>
						<img th:src="@{/img/timer.svg}" id="img-edit-reminder-notice-time" class="edit-item reminder-notice-time" title="タイマー設定" />
						<select id="slct-edit-reminder-notice-time" class="reminder-notice-time select">
							<option th:each="value : ${reminderNoticeTimeList}"
									th:value="${value.code}"
									th:text="${value.description}">
							</option>
						</select>
					</div>
					<div>
						<img th:src="@{/img/repeat.svg}" id="img-edit-reminder-repeat" class="edit-item reminder-repeat" title="リピート設定" />
						<select id="slct-edit-reminder-repeat" class="reminder-repeat select">
							<option th:each="value : ${reminderRepeatList}"
									th:value="${value.code}"
									th:text="${value.description}">
							</option>
						</select>
					</div>
				</p>
				<p class="todo-start-datetime">
					<img th:src="@{/img/calendar.svg}" id="img-edit-start-datetime" class="edit-item start-datetime" title="予定日時" />
					<input type="datetime-local" id="txt-edit-start-datetime" class="todo-start-datetime text" />
				</p>
				<p class="todo-create-info">
					<input type="hidden" id="hid-edit-create-user-id" class="todo-create-user-id" />
					<input type="hidden" id="hid-edit-create-user-name" class="todo-create-user-name" />
					<input type="hidden" id="hid-edit-create-datetime" class="todo-create-datetime" />
				</p>
				<p class="todo-update-info">
					<input type="hidden" id="hid-edit-update-user-id" class="todo-update-user-id" />
					<input type="hidden" id="hid-edit-update-user-name" class="todo-update-user-name" />
					<input type="hidden" id="hid-edit-update-datetime" class="todo-update-datetime" />
				</p>
			</div>
			<div class="bottom-area">
				<button type="button" id="btn-save-todo">保存</button>
				<button type="button" id="btn-cancel-todo">キャンセル</button>
			</div>
		</div>
		<div id="edit-todo-filter" class="base-filter filter">
		</div>

<!-- 		いずれ共通化する -->
		<div id="message-area" class="message-area">
			<ul id="message-list" class="message-list">
			</ul>
		</div>
	</main>
</body>
</html>