<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout.html}">
<head>
<title>TODOリスト</title>
<link rel="stylesheet" th:href="@{/css/todolist.css}" />
<script th:src="@{/js/todolist.js}"></script>
</head>
<body layout:fragment="content" th:remove="tag">
	<main>
<!-- 	TODOリスト -->
		<section class="todolist">

			<th:block th:each="vForm,it : ${formlist}">
				<div class="todo-box" th:data-idx="${it.index}">
					<input type="hidden" th:value="${vForm.todoId}" />
<!-- 					タイトル -->
					<p class="title">
						<label th:data-idx="${it.index}" class="title label">
							<th:block th:text="${vForm.title}"></th:block>
						</label>
						<input type="text" class="title text hidden"
								th:data-idx="${it.index}" th:value="${vForm.title}" />
					</p>
<!-- 					内容 -->
					<p class="content">
						<label th:data-idx="${it.index}" class="content label">
							<th:block th:text="${vForm.content}"></th:block>
						</label>
						<input type="text" class="content text hidden"
								th:data-idx="${it.index}" th:value="${vForm.content}" />
					</p>
<!-- 					チェックリスト -->
					<ul class="checklist">
						<li th:each="vCheckList,clIt : ${vForm.checkList}">
							<input type="checkbox" class="status" th:value="${vCheckList.completed}" />
							<th:block th:text="${vCheckList.content}"></th:block>
							<input type="text" class="checllist text hidden"
								th:data-idx="${it.index}" th:value="${vCheckList.content}" />
						</li>
					</ul>
<!-- 					リマインダー設定 -->
					<p class="reminder" th:data-idx="${it.index}">
						<div>
							<select class="reminder_time text"
									th:value="${vForm.reminderTime.code}">
								<option th:each="value : ${reminderTimeList}"
										th:value="${value.code}"
										th:text="${value.description}"
										th:selected="${value.code == vForm.reminderTime.code}">
								</option>
							</select>
						</div>
						<div>リピート
							<select class="reminder_repeat text"
									th:value="${vForm.reminderRepeat.code}">
								<option th:each="value : ${reminderRepeatList}"
										th:value="${value.code}"
										th:text="${value.description}"
										th:selected="${value.code == vForm.reminderRepeat.code}">
								</option>
							</select>
						</div>
					</p>
<!-- 					予定開始日 -->
					<p class="todo_start_datetime">
						開始予定日
						<label th:data-idx="${it.index}" class="todo_start_datetime label">
							<th:block th:text="${vForm.todoStartDateTime}"></th:block>
						</label>
						<input type="date" class="todo_start_date text hidden"
								th:data-idx="${it.index}" th:value="${vForm.todoStartDateTime}" />
					</p>
				</div>
			</th:block>
		</section>

		<!-- 新規TODO作成 -->
		<section class="new_todo">
			<button type="button" id="btn-open_new_todo" class="new_todolist">＋新しいTODOリスト</button>
		</section>
		<div id="edit_todo-area" class="edit_todo-area">
			<div class="edit_area">
				<p class="title edit_item">
					<input type="text" id="todo_title" class="title" placeholder="タイトル" />
				</p>
				<p class="content edit_item">
					<textarea id="todo_content" class="content" placeholder="内容" ></textarea>
				</p>
				<div id="checklist-area" class="checklist-area edit_item">
					<ul class="checklist">
						<li><input type="checkbox" id="todo_checklist_box" class="checklist_box" />
							<input type="text" id="todo_checklist_content" class="checklist_content" placeholder="例：◯◯を買う" />
						</li>
					</ul>
					<button type="button" id="btn-add_checklist" class="btn-add_checklist">＋追加</button>
				</div>
			</div>
			<div class="bottom_area">

				<button type="button" id="btn-save_todo">保存</button>
				<button type="button" id="btn-cancel_todo">キャンセル</button>
			</div>
		</div>
		<div id="edit_todo-filter" class="base_filter filter">
		</div>
	</main>
</body>
</html>