<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout.html}">
<head>
<title>TODOリスト</title>
<link rel="stylesheet" th:href="@{/css/todolist.css}" />
</head>
<body layout:fragment="content" th:remove="tag">
	<h2>TODOリスト</h2>
	<main>
<!-- 	TODOリスト -->
		<section class="todolist">

			<th:block th:each="vForm,it : ${formlist}">
				<div class="todo-box" th:classappend="${it.index}">
					<input type="hidden" th:value="${vForm.todoId}" />
<!-- 					タイトル -->
					<p class="title">
						<label th:data-idx="${it.index}" class="js-title label">
							<th:block th:text="${vForm.title}"></th:block>
						</label>
						<input type="text" class="js-title text hidden"
								th:data-idx="${it.index}" th:value="${vForm.title}" />
					</p>
<!-- 					内容 -->
					<p class="content">
						<label th:data-idx="${it.index}" class="js-content label">
							<th:block th:text="${vForm.content}"></th:block>
						</label>
						<input type="text" class="js-content text hidden"
								th:data-idx="${it.index}" th:value="${vForm.content}" />
					</p>
<!-- 					チェックリスト -->
					<ul class="checklist">
						<li th:each="vCheckList,clIt : ${vForm.checkList}">
							<input type="checkbox" th:value="${vCheckList.completed}" />
							<th:block th:text="${vCheckList.content}"></th:block>
						</li>
					</ul>
<!-- 					リマインダー設定 -->
					<p class="reminder" th:data-idx="${it.index}">
						<div>時間
							<select class="js-reminder_time text"
									th:value="${vForm.reminderTime.code}">
								<option th:each="value : ${reminderTimeList}"
										th:value="${value.code}"
										th:text="${value.discription}"
										th:selected="${value.code == vForm.reminderTime.code}">
								</option>
							</select>
						</div>
						<div>リピート設定
							<select class="js-reminder_repeat text"
									th:value="${vForm.reminderRepeat.code}">
								<option th:each="value : ${reminderRepeatList}"
										th:value="${value.code}"
										th:text="${value.discription}"
										th:selected="${value.code == vForm.reminderRepeat.code}">
								</option>
							</select>
						</div>
					</p>
<!-- 					予定開始日 -->
					<p class="scheduled_start_date_time">
						<label th:data-idx="${it.index}" class="js-scheduled_start_date_time label">
							<th:block th:text="${vForm.scheduledStartDateTime}"></th:block>
						</label>
						<input type="date" class="js-scheduled_start_date text hidden"
								th:data-idx="${it.index}" th:value="${vForm.scheduledStartDateTime}" />
					</p>
				</div>
			</th:block>
		</section>

		<!-- 新規TODO作成 -->
		<section class="new_todo">
			<button type="button">＋新しいTODOリスト</button>
		</section>
		<div class="edit_newtodo hidden">
				<p>
					<input type="text" id="js-newtodo_title" class="title" />
				</p>
				<p>
					<input type="text" id="js-newtodo_checklist" class="checklist" placeholder="例：◯◯を買う" />
				</p>
				<button type="button" id="js-btn-add_checklist">追加</button>
				<button type="button" id="js-btn-create_todo">保存</button>
				<button type="button" id="js-btn-newtodo_cancel">キャンセル</button>
		</div>
	</main>
</body>
</html>