# Herokuへのデプロイ
name: Deploy to Heroku workflow

on:
  push :
    branches: [main]
# Herokuデプロイジョブ
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
#    - name: test:ログイン
#      env: 
#        HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
#      run: heroku container:login
#    - name: Add Heroku remote
#      run: git remote add heroku https://git.heroku.com/${{secrets.HEROKU_APP_NAME}}.git
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
        heroku_email: ${{secrets.HEROKU_EMAIL}}
        justlogin: true
    - run: heroku auth:whoami
