# Herokuへのデプロイ
name: Deploy to Heroku workflow

on:
  push :
    branches: [main]
# Herokuデプロイジョブ
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with: 
        fetch-depth: 0 
#    - name: Heroku login credentials
#      run: |
#        cat > ~/.netrc <<EOF
#          machine api.heroku.com
#            login $HEROKU_EMAIL
#            password $HEROKU_API_KEY
#          machine git.heroku.com
#            login $HEROKU_EMAIL
#            password $HEROKU_API_KEY
#        EOF
#      env:
#        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
#        HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
#    - name: Add remote
#      run: git remote add heroku https://git.heroku.com/${{secrets.HEROKU_APP_NAME}}.git
#    - name: Check remote
#      run: git remote -v
#    - name: Setting
    - name: Deploy to Heroku
      env: 
        HEROKU_API_TOKEN: ${{ secrets.HEROKU_API_TOKEN }}
        HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
      run: |
        git push https://heroku:$HEROKU_API_TOKEN@git.heroku.com/$HEROKU_APP_NAME.git origin/main:main
#        git config --global user.email "${{secrets.USER_NAME}}"
#        git config --global user.name "${{secrets.EMAIL}}"
#      uses: AkhileshNS/heroku-deploy@v3.12.12
#      with:
#        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
#        heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
#        heroku_email: ${{secrets.HEROKU_EMAIL}}

